<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.aman.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TuteeOffline"
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="Tutee"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher"
        tools:replace="android:appComponentFactory">
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".GroupChatActivity"
            android:parentActivityName=".Home" />
        <activity android:name=".phoneVerification" />
        <activity
            android:name=".FindFriendActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".FindFriendActivity" />
        <activity
            android:name=".ChatRequestActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".AboutUsActivity"
            android:parentActivityName=".Home" />
        <activity
            android:name=".ChatActivity"
            android:parentActivityName=".Home" />
        <activity android:name=".TuteeImageView"
            android:parentActivityName=".Home"/>
    </application>

</manifest>